<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="main-timeline2">
        <div class="timeline">
          <span class="icon fa fa-globe"></span>
          <a href="#" class="timeline-content">
            <h3 class="title">SIM CNSS - DGA</h3>
            <p class="description">
              Mise en place d’une application de la Direction de la Gestion des Assurés (DGA) et d’un tableau de bord de la Direction Générale de la CNSS Niger.
              </p>
            <p class="description">
              <mat-chip-list>
                <mat-chip >Analyse</mat-chip>
                <mat-chip>Conception</mat-chip>
                <mat-chip>Développement</mat-chip>
              </mat-chip-list>
            </p>
          </a>
        </div>
        <div class="timeline">
          <span class="icon fa fa-rocket"></span>
          <a href="#" class="timeline-content">
            <h3 class="title">Web Developer</h3>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
            </p>
          </a>
        </div>
        <div class="timeline">
          <span class="icon fa fa-briefcase"></span>
          <a href="#" class="timeline-content">
            <h3 class="title">Web Designer</h3>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
            </p>
          </a>
        </div>
        <div class="timeline">
          <span class="icon fa fa-mobile"></span>
          <a href="#" class="timeline-content">
            <h3 class="title">Web Developer</h3>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer malesuada tellus lorem, et condimentum neque commodo quis.
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
